<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ParcialConnection" connectionString="Data Source=DESKTOP-SIRET51\SQLEXPRESS01;Initial Catalog=LUGSegundoParcial;Integrated Security=True" />
		<!-- <add name="ParcialConnection"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=LUGSegundoParcial;Integrated Security=True;" />-->
	</connectionStrings>
</configuration>